.ext-phonos-PhonosButton {
	&.oo-ui-buttonElement-frameless.oo-ui-buttonWidget > .oo-ui-buttonElement-button {
		.oo-ui-iconElement-icon {
			top: -2px;
		}

		.oo-ui-labelElement-label {
			margin-left: 4px;
			line-height: 1.5em;
			vertical-align: baseline;
			margin-inline-start: 0.1em;
		}
	}
}
