@import 'mediawiki.skin.variables.less';

.ext-phonos-error-popup {
	// Error popup colors.
	.oo-ui-popupWidget {
		// Duplicate parent style to manually add Red50 at 30% opacity.
		filter: drop-shadow( 0 2px 1px rgba( 221, 51, 51, 0.3 ) );
	}

	.oo-ui-popupWidget-popup {
		background-color: @background-color-error-subtle;
		border-color: @border-color-error;
	}

	&.oo-ui-popupWidget-anchored-top .oo-ui-popupWidget-anchor::before {
		border-bottom-color: @border-color-error;
	}

	&.oo-ui-popupWidget-anchored-top .oo-ui-popupWidget-anchor::after {
		border-bottom-color: @background-color-error-subtle;
	}
}
